
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Адресная книга</title>
    <link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <h3>Контакты</h3>
        <table>
            <tr>
                <th>ФИО</th>
                <th>Телефон</th>
                <th>Эл. почта</th>
                <th>Должность</th>
            </tr>
            @foreach (MvcApp.Controllers.HomeController.GroupedContacts department in Model)
            {
                <tr class="department-row">
                    <td colspan="4">@department.Group</td>
                </tr>
                foreach (var contact in department.Contacts)
                {
                    <tr>
                        <td>@contact.FullName</td>
                        <td>@contact.PhoneNumber</td>
                        <td>@contact.EMail</td>
                        <td>@contact.Position</td>
                    </tr>
                }
            }
        </table>
    </div>

</body>
</html>